.character-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #555;
  }

  
  .character-card {
    border: 1px solid #000000;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  }
  
  .character-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 16px red;
  }
  
  .character-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  
  .character-card .MuiCardContent-root {
    padding: 15px;
    text-align: center;
  }
  
  .character-card h5 {
    font-size: 1.2rem;
    margin: 0;
  }
  
  .character-card .MuiTypography-body2 {
    color: #555;
  }
  